$white:	#ffffff;
$teal:		#A7DAC5;
$grey:		#505050;
$darkgrey:	#4d4d4d;
$gradient:	linear-gradient(0deg, #D7F2FF 0%, #FFFFFF 100%);



$color-main: $teal;
$color-bkgd: $white;
$color-headlines: $grey;
$color-a:	$darkgrey;


$font-main:   'Work Sans', Helvectia, Arial, sans-serif;

$trans: opacity 0.3s;

  

