---
layout: default
title: "About Peter"
nav: about
---

<div class="gradient">
  {% include nav.html %}

  <section class="hero">
    <img src="{{ '/img/about-pcl-1.jpg' | relative_url }}" alt="Peter Lundblad">
    <div class="text">
      <h1>About Peter</h1>
      <p>Peter is a freelance art director and designer with a focus on brand, type, and motion design. He’s passionate about crafting visual content that’s not only effective and dynamic but also beautifully crafted and memorable.</p>
      <p>With over a decade of experience, Peter has worked with major brands, including Banana Republic, Pottery Barn, Warner Brothers, and Cin7. He has also managed creative teams and overseen multiple successful campaigns, bringing a balance of strategic vision and creative expertise to each project.</p>	
      <p>Beyond his design work, Peter is also an accomplished calligrapher, baker, and part-time punslinger. Like many designers, he has a well-documented love for coffee and La Croix.</p>
    </div>
  </section>

  <section class="gallery-mid">
    <div class="imgCapt">
      <img id="portrait" src="{{ '/img/about-img1.jpg' | relative_url }}" alt="Calligraphy">
      <figcaption>Calligraphy</figcaption>
    </div>
    <div class="imgCapt">
      <img src="{{ '/img/about-img2.jpg' | relative_url }}" alt="Hanging in the studio">
      <figcaption>Hanging in the studio</figcaption>
    </div>
    <div class="imgCapt">
      <img src="{{ '/img/about-img3.jpg' | relative_url }}" alt="Homemade bread">
      <figcaption>Homemade bread</figcaption>
    </div>
    <div class="imgCapt">
      <img id="portrait" src="{{ '/img/about-img4.jpg' | relative_url }}" alt="Noodling on the piano">
      <figcaption>Noodling on the piano</figcaption>
    </div>
  </section>
</div>

<section class="grid">
  {% assign sorted_projects = site.projects | sort: "order" %}
  {% for project in sorted_projects %}
    <a class="items show" href="{{ project.url | relative_url }}">
      <h3>{{ project.title }}</h3>
      <img src="{{ project.thumbnail | default: project.cover_image | relative_url }}" alt="{{ project.thumbnail_alt | default: project.title }}">
    </a>
  {% endfor %}
</section>
