---
layout: default
title: "Contact"
nav: contact
description: "How to reach Peter Lundblad"
---

<div class="gradient contact">
  {% include nav.html %}

  <section class="hero">
    <div class="text">
      <h1>Let’s connect</h1>
      <p>I'm here to help bring value to your brand through compelling design, thoughtful strategy, and creative solutions. Reach out to discuss how PCL Design can make your vision come to life.</p>
      <p><span class="bold">email:</span> <a href="mailto:{{ site.email }}?subject=your portfolio">{{ site.email }}</a></p>
      <p><span class="bold">phone:</span> <a href="tel:1-415-621-9419">(415) 621-9419</a></p>
      <p><span class="bold">social:</span> <a href="https://www.instagram.com/peterlundblad/" target="_blank" rel="noopener">Instagram,</a> <a href="https://dribbble.com/peterlundblad" target="_blank" rel="noopener">Dribbble,</a> <a href="https://www.linkedin.com/in/peterlundblad/" target="_blank" rel="noopener">LinkedIn</a></p>
    </div>
  </section>
</div>

<section class="grid">
  {% assign sorted_projects = site.projects | sort: "order" %}
  {% for project in sorted_projects %}
    <a class="items show" href="{{ project.url | relative_url }}">
      <h3>{{ project.title }}</h3>
      <img src="{{ project.thumbnail | default: project.cover_image | relative_url }}" alt="{{ project.thumbnail_alt | default: project.title }}">
    </a>
  {% endfor %}
</section>
